.container {
  width: 50%;
  margin: auto;
}

.item {
  width: 100%;
  padding-top: 20px;
}

.element {
  padding-top: 2px;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
}

.form {
  width: 100%;
}
  
.form-field {
  width: 100%;
  background-color: white;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  background-color: white;
}

.radio-button {
  margin: 5px;
}