.image {
    margin: 40px;
    height: 150px;
    background-image: url("src/assets/logo.png");
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }


  .image2 {
    /* background-image: url("src/assets/logo.png"); */
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }


  .divider{
    width:5px;
    height:auto;
    display:inline-block;
  }
  
  
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  /*   */
  .main-container {
    width: 98%;
    margin: auto;}
  
  .container {
    margin: 10px;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .item {
    border-radius: .2em;
    color: #444444;
    font-family: sans-serif;
    font-size: 1em;
    padding: 1em 0.25em;
    text-transform: uppercase;
  }
  
  .item2 {
    border-radius: .2em;
    color: #444444;
    font-family: sans-serif;
    /* font-size: 2em; */
    /* padding: 4em 1em; */
    /* text-transform: uppercase; */
  }
  
  .item-1 {
    background-color: #d9e1d2;
  }
  
  .item-2 {
    background-color: #ddc49d;
  }
  
  .item-3 {
    background-color: #dfb7a8;
  }
  
  .item-4 {
    background-color: #d3d1e6;
  }
  
  .item-5 {
    background-color: #c4d9fc;
  }
  
  .item-6 {
    background-color: #d7c4d7;
  }
  
  mat-drawer-container {
    background-color: transparent;
  }
  mat-drawer {
    width: 25%;
  }
  
  .title-big {
    font-size: 2em;
  }
  
  .title {
    font-size: 1.5em;
  }
  .text {
    font-size: 20px;
    width: 250px;
  }

  .center {
    display:flex;
    justify-content:center;
    align-items:center;
  }
  