<div class="main-container">
    <div>
        <div class="image"></div>
    </div>
    <div class="background"> 
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div class="item item-1 cursor" (click)="login($event)" fxFlex>
                <div class="center">
                    <span>LOGIN</span>
                </div>
                
            </div>
            <div class="item item-2 cursor" (click)="createAccount($event)" fxFlex>
                <div class="center">
                    <span>REGISTER AN ACCOUNT</span>
                </div>
            </div>
        </div>
    </div>
</div>